[alias]
    clean-merged = ! git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d
    clean-gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs git branch -D
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[core]
    attributesfile = ~/.gitattributes
    excludesfile = ~/.global_ignore
    editor = vim
[diff]
    compactionHeuristic = true
    tool = vimdiff
[diff "ipynb"]
    textconv = python -m nbstripout -t
[diff "daff-csv"]
    command = daff diff --git
[difftool]
    prompt = False
[grep]
    linenumber = true
[merge]
    tool = vimdiff
[merge "daff-csv"]
    name = daff tabular csv merge
    driver = daff merge --output %A %O %A %B
[pager]
    diff = diff-highlight | less
    log = diff-highlight | less
    show = diff-highlight | less
[pull]
    ff = only
[push]
    default = simple
