[core]
    attributesfile = ~/.gitattributes
    excludesfile = ~/.global_ignore
    editor = vim
[merge]
    tool = vimdiff
[diff]
    compactionHeuristic = true
    tool = vimdiff
[difftool]
    prompt = False
[diff "ipynb"]
	textconv = python -m nbstripout -t
[diff "daff-csv"]
    command = daff diff --git
[merge "daff-csv"]
	name = daff tabular csv merge
	driver = daff merge --output %A %O %A %B
[push]
    default = simple
[pager]
    diff = diff-highlight | less
    log = diff-highlight | less
    show = diff-highlight | less
[grep]
    linenumber = true
[alias]
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -r -n 1 git branch -d"
