[core]
	attributesfile = ~/.gitattributes
[filter "dropoutput_ipynb"]
	clean = ~/.local/bin/ipynb_output_filter.py
	smudge = cat
[user]
	name = Eugene Scherba
    email = escherba@gmail.com
[merge]
    tool = opendiff
[diff]
    compactionHeuristic = true
	tool = vimdiff
#	external = /Users/eugenescherba/bin/git-diff-cmd.sh
#[difftool]
#	prompt = false
#[alias]
#	d = difftool
