[core]
    attributesfile = ~/.gitattributes
    excludesfile = ~/.global_ignore
[merge]
    tool = vimdiff
[diff]
    compactionHeuristic = true
    tool = vimdiff
[difftool]
    prompt = False
[push]
    default = simple
[core]
    editor = vim
[pager]
    diff = diff-highlight | less
    log = diff-highlight | less
    show = diff-highlight | less
[grep]
    linenumber = true
