[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=New Tab Redirect - Google Chrome
Icon=google-chrome
Path=/home/escherba/Software
Exec=/opt/google/chrome/chrome %U
StartupNotify=false
StartupWMClass=google-chrome
OnlyShowIn=Unity;
X-UnityGenerated=true
