[core]
    attributesfile = ~/.gitattributes
    excludesfile = ~/.global_ignore
    editor = vim
[user]
    name = Eugene Scherba
    email = escherba@gmail.com
[merge]
    tool = vimdiff
[diff]
    compactionHeuristic = true
    tool = vimdiff
[difftool]
    prompt = False
[push]
    default = simple
[pager]
    diff = diff-highlight | less
    log = diff-highlight | less
    show = diff-highlight | less
[grep]
    linenumber = true
