[global_config]
  title_inactive_bg_color = "#b7b7b7"
  title_inactive_fg_color = "#444444"
  title_transmit_bg_color = "#444444"
  title_transmit_fg_color = "#cacaca"
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#eeeeee"
    background_image = None
    cursor_color = "#444444"
    font = Liberation Mono for Powerline 10
    foreground_color = "#444444"
    palette = "#444444:#af0000:#008700:#af5f00:#005faf:#870087:#008787:#eeeeee:#444444:#af0000:#008700:#af5f00:#005faf:#870087:#008787:#eeeeee"
    scrollback_lines = 10000
    use_system_font = False
